# IPL WINNER PROBABILITY PREDICTION PROJECT

Dataset has been taken from Kaggle : https://www.kaggle.com/datasets/vora1011/ipl-2008-to-2021-all-match-dataset

#### This notebook has been created to get the following data:
- Batting Team
- Bowling Team
- City
- Runs Left
- Balls Left
- Wickets Out
- Current Run Rate
- Required Run Rate
- Result (Winner)

### (1) Load the datasets

In [1]:
import numpy as np
import pandas as pd

In [2]:
match_df = pd.read_csv('../data/IPL_Matches_2008_2022.csv')
delivery_df = pd.read_csv('../data/IPL_Ball_by_Ball_2008_2022.csv')

In [3]:
match_df.head()

,ID,City,Date,Season,MatchNumber,Team1,Team2,Venue,TossWinner,TossDecision,SuperOver,WinningTeam,WonBy,Margin,method,Player_of_Match,Team1Players,Team2Players,Umpire1,Umpire2
0,1312200,Ahmedabad,2022-05-29,2022,Final,Rajasthan Royals,Gujarat Titans,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,bat,N,Gujarat Titans,Wickets,7.0,NaN,HH Pandya,"['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...","['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...",CB Gaffaney,Nitin Menon
1,1312199,Ahmedabad,2022-05-27,2022,Qualifier 2,Royal Challengers Bangalore,Rajasthan Royals,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,field,N,Rajasthan Royals,Wickets,7.0,NaN,JC Buttler,"['V Kohli', 'F du Plessis', 'RM Patidar', 'GJ ...","['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...",CB Gaffaney,Nitin Menon
2,1312198,Kolkata,2022-05-25,2022,Eliminator,Royal Challengers Bangalore,Lucknow Super Giants,"Eden Gardens, Kolkata",Lucknow Super Giants,field,N,Royal Challengers Bangalore,Runs,14.0,NaN,RM Patidar,"['V Kohli', 'F du Plessis', 'RM Patidar', 'GJ ...","['Q de Kock', 'KL Rahul', 'M Vohra', 'DJ Hooda...",J Madanagopal,MA Gough
3,1312197,Kolkata,2022-05-24,2022,Qualifier 1,Rajasthan Royals,Gujarat Titans,"Eden Gardens, Kolkata",Gujarat Titans,field,N,Gujarat Titans,Wickets,7.0,NaN,DA Miller,"['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...","['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...",BNJ Oxenford,VK Sharma
4,1304116,Mumbai,2022-05-22,2022,70,Sunrisers Hyderabad,Punjab Kings,"Wankhede Stadium, Mumbai",Sunrisers Hyderabad,bat,N,Punjab Kings,Wickets,5.0,NaN,Harpreet Brar,"['PK Garg', 'Abhishek Sharma', 'RA Tripathi', ...","['JM Bairstow', 'S Dhawan', 'M Shahrukh Khan',...",AK Chaudhary,NA Patwardhan

In [4]:
delivery_df.head()

,ID,innings,overs,ballnumber,batter,bowler,non-striker,extra_type,batsman_run,extras_run,total_run,non_boundary,isWicketDelivery,player_out,kind,fielders_involved,BattingTeam
0,1312200,1,0,1,YBK Jaiswal,Mohammed Shami,JC Buttler,NaN,0,0,0,0,0,NaN,NaN,NaN,Rajasthan Royals
1,1312200,1,0,2,YBK Jaiswal,Mohammed Shami,JC Buttler,legbyes,0,1,1,0,0,NaN,NaN,NaN,Rajasthan Royals
2,1312200,1,0,3,JC Buttler,Mohammed Shami,YBK Jaiswal,NaN,1,0,1,0,0,NaN,NaN,NaN,Rajasthan Royals
3,1312200,1,0,4,YBK Jaiswal,Mohammed Shami,JC Buttler,NaN,0,0,0,0,0,NaN,NaN,NaN,Rajasthan Royals
4,1312200,1,0,5,YBK Jaiswal,Mohammed Shami,JC Buttler,NaN,0,0,0,0,0,NaN,NaN,NaN,Rajasthan Royals

### (2) Shape of the dataset

In [5]:
match_df.shape

(950, 20)

In [6]:
delivery_df.shape

(225954, 17)

### (3) Generating columns with text data required for prediction

**Merge the two datasets**

In [7]:
delivery_df = match_df.merge(delivery_df, on='ID')

In [8]:
delivery_df.head()

,ID,City,Date,Season,MatchNumber,Team1,Team2,Venue,TossWinner,TossDecision,...,extra_type,batsman_run,extras_run,total_run,non_boundary,isWicketDelivery,player_out,kind,fielders_involved,BattingTeam
0,1312200,Ahmedabad,2022-05-29,2022,Final,Rajasthan Royals,Gujarat Titans,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,bat,...,NaN,0,0,0,0,0,NaN,NaN,NaN,Rajasthan Royals
1,1312200,Ahmedabad,2022-05-29,2022,Final,Rajasthan Royals,Gujarat Titans,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,bat,...,legbyes,0,1,1,0,0,NaN,NaN,NaN,Rajasthan Royals
2,1312200,Ahmedabad,2022-05-29,2022,Final,Rajasthan Royals,Gujarat Titans,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,bat,...,NaN,1,0,1,0,0,NaN,NaN,NaN,Rajasthan Royals
3,1312200,Ahmedabad,2022-05-29,2022,Final,Rajasthan Royals,Gujarat Titans,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,bat,...,NaN,0,0,0,0,0,NaN,NaN,NaN,Rajasthan Royals
4,1312200,Ahmedabad,2022-05-29,2022,Final,Rajasthan Royals,Gujarat Titans,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,bat,...,NaN,0,0,0,0,0,NaN,NaN,NaN,Rajasthan Royals

**Filter the teams and keep the relevant ones**

In [9]:
delivery_df['Team1'].unique()

array(['Rajasthan Royals', 'Royal Challengers Bangalore',
       'Sunrisers Hyderabad', 'Delhi Capitals', 'Chennai Super Kings',
       'Gujarat Titans', 'Lucknow Super Giants', 'Kolkata Knight Riders',
       'Punjab Kings', 'Mumbai Indians', 'Kings XI Punjab',
       'Delhi Daredevils', 'Rising Pune Supergiant', 'Gujarat Lions',
       'Rising Pune Supergiants', 'Pune Warriors', 'Deccan Chargers',
       'Kochi Tuskers Kerala'], dtype=object)

In [10]:
teams = [
    'Rajasthan Royals',
    'Royal Challengers Bangalore',
    'Sunrisers Hyderabad',
    'Delhi Capitals',
    'Chennai Super Kings',
    'Gujarat Titans',
    'Lucknow Super Giants',
    'Kolkata Knight Riders',
    'Punjab Kings',
    'Mumbai Indians'
]

Batting team already exists

In [11]:
delivery_df['Team1'] = delivery_df['Team1'].str.replace('Delhi Daredevils','Delhi Capitals')
delivery_df['Team2'] = delivery_df['Team2'].str.replace('Delhi Daredevils','Delhi Capitals')
delivery_df['WinningTeam'] = delivery_df['WinningTeam'].str.replace('Delhi Daredevils','Delhi Capitals')
delivery_df['BattingTeam'] = delivery_df['BattingTeam'].str.replace('Delhi Daredevils','Delhi Capitals')

delivery_df['Team1'] = delivery_df['Team1'].str.replace('Deccan Chargers','Sunrisers Hyderabad')
delivery_df['Team2'] = delivery_df['Team2'].str.replace('Deccan Chargers','Sunrisers Hyderabad')
delivery_df['WinningTeam'] = delivery_df['WinningTeam'].str.replace('Deccan Chargers','Sunrisers Hyderabad')
delivery_df['BattingTeam'] = delivery_df['BattingTeam'].str.replace('Deccan Chargers','Sunrisers Hyderabad')

delivery_df['Team1'] = delivery_df['Team1'].str.replace('Gujarat Lions','Gujarat Titans')
delivery_df['Team2'] = delivery_df['Team2'].str.replace('Gujarat Lions','Gujarat Titans')
delivery_df['WinningTeam'] = delivery_df['WinningTeam'].str.replace('Gujarat Lions','Gujarat Titans')
delivery_df['BattingTeam'] = delivery_df['BattingTeam'].str.replace('Gujarat Lions','Gujarat Titans')

delivery_df['Team1'] = delivery_df['Team1'].str.replace('Kings XI Punjab','Punjab Kings')
delivery_df['Team2'] = delivery_df['Team2'].str.replace('Kings XI Punjab','Punjab Kings')
delivery_df['WinningTeam'] = delivery_df['WinningTeam'].str.replace('Kings XI Punjab','Punjab Kings')
delivery_df['BattingTeam'] = delivery_df['BattingTeam'].str.replace('Kings XI Punjab','Punjab Kings')

In [12]:
delivery_df = delivery_df[delivery_df['Team1'].isin(teams)]
delivery_df = delivery_df[delivery_df['Team2'].isin(teams)]
delivery_df = delivery_df[delivery_df['WinningTeam'].isin(teams)]
delivery_df = delivery_df[delivery_df['BattingTeam'].isin(teams)]

In [13]:
delivery_df.shape

(204772, 36)

**Generating the 'Bowling Team' column**

In [14]:
def bowl(row):
    if row['Team1'] == row['BattingTeam']:
        return row['Team2']
    else:
        return row['Team1']

In [15]:
delivery_df['BowlingTeam'] = delivery_df.apply(bowl,axis=1)

In [16]:
delivery_df.head()

,ID,City,Date,Season,MatchNumber,Team1,Team2,Venue,TossWinner,TossDecision,...,batsman_run,extras_run,total_run,non_boundary,isWicketDelivery,player_out,kind,fielders_involved,BattingTeam,BowlingTeam
0,1312200,Ahmedabad,2022-05-29,2022,Final,Rajasthan Royals,Gujarat Titans,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,bat,...,0,0,0,0,0,NaN,NaN,NaN,Rajasthan Royals,Gujarat Titans
1,1312200,Ahmedabad,2022-05-29,2022,Final,Rajasthan Royals,Gujarat Titans,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,bat,...,0,1,1,0,0,NaN,NaN,NaN,Rajasthan Royals,Gujarat Titans
2,1312200,Ahmedabad,2022-05-29,2022,Final,Rajasthan Royals,Gujarat Titans,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,bat,...,1,0,1,0,0,NaN,NaN,NaN,Rajasthan Royals,Gujarat Titans
3,1312200,Ahmedabad,2022-05-29,2022,Final,Rajasthan Royals,Gujarat Titans,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,bat,...,0,0,0,0,0,NaN,NaN,NaN,Rajasthan Royals,Gujarat Titans
4,1312200,Ahmedabad,2022-05-29,2022,Final,Rajasthan Royals,Gujarat Titans,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,bat,...,0,0,0,0,0,NaN,NaN,NaN,Rajasthan Royals,Gujarat Titans

**Filter the cities and keep the relevant ones**

In [17]:
delivery_df['City'].unique()

array(['Ahmedabad', 'Kolkata', 'Mumbai', 'Navi Mumbai', 'Pune', 'Dubai',
       'Sharjah', 'Abu Dhabi', 'Delhi', 'Chennai', nan, 'Hyderabad',
       'Visakhapatnam', 'Chandigarh', 'Bengaluru', 'Jaipur', 'Indore',
       'Bangalore', 'Kanpur', 'Rajkot', 'Raipur', 'Ranchi', 'Cuttack',
       'Dharamsala', 'Nagpur', 'Johannesburg', 'Centurion', 'Durban',
       'Bloemfontein', 'Port Elizabeth', 'Kimberley', 'East London',
       'Cape Town'], dtype=object)

In [18]:
cities=['Ahmedabad', 'Kolkata', 'Mumbai', 'Navi Mumbai', 'Pune', 'Dubai',
       'Sharjah', 'Abu Dhabi', 'Delhi', 'Chennai','Hyderabad',
       'Visakhapatnam', 'Chandigarh', 'Bengaluru', 'Jaipur', 'Indore',
       'Bangalore', 'Kanpur', 'Rajkot', 'Raipur', 'Ranchi', 'Cuttack',
       'Dharamsala', 'Nagpur', 'Johannesburg', 'Centurion', 'Durban',
       'Bloemfontein', 'Port Elizabeth', 'Kimberley', 'East London',
       'Cape Town']

In [19]:
delivery_df['City'] = delivery_df['City'].str.replace('Bangalore','Bengaluru')
delivery_df['City'] = delivery_df['City'].str.replace('Dharamsala','Dharamshala')

In [20]:
delivery_df = delivery_df[delivery_df['City'].isin(cities)]

### (4) Group by Innings

In [21]:
total_scores_df = delivery_df.groupby(['ID','innings']).sum()['total_run'].reset_index()

/tmp/ipykernel_9196/1386064346.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  total_scores_df = delivery_df.groupby(['ID','innings']).sum()['total_run'].reset_index()

In [22]:
total_scores_df

           ID  innings  total_run
0      335982        1        222
1      335982        2         82
2      335983        1        240
3      335983        2        207
4      335984        1        129
...       ...      ...        ...
1613  1312198        2        193
1614  1312199        1        157
1615  1312199        2        161
1616  1312200        1        130
1617  1312200        2        133

[1618 rows x 3 columns]

**Group by first innings**

In [23]:
total_scores_df = total_scores_df[total_scores_df['innings'] == 1]

In [24]:
total_scores_df.head()

       ID  innings  total_run
0  335982        1        222
2  335983        1        240
4  335984        1        129
6  335985        1        165
8  335986        1        110

**Generating 'target' column**

In [25]:
total_scores_df = total_scores_df.rename(columns={'total_run': 'target'})

In [26]:
total_scores_df.head()

       ID  innings  target
0  335982        1     222
2  335983        1     240
4  335984        1     129
6  335985        1     165
8  335986        1     110

In [27]:
delivery_df =delivery_df.merge(total_scores_df[['ID','target']], on='ID')

**Group by second innings**

In [28]:
delivery_df = delivery_df[delivery_df['innings'] == 2]

In [29]:
delivery_df

,ID,City,Date,Season,MatchNumber,Team1,Team2,Venue,TossWinner,TossDecision,...,extras_run,total_run,non_boundary,isWicketDelivery,player_out,kind,fielders_involved,BattingTeam,BowlingTeam,target
120,1312200,Ahmedabad,2022-05-29,2022,Final,Rajasthan Royals,Gujarat Titans,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,bat,...,0,0,0,0,NaN,NaN,NaN,Gujarat Titans,Rajasthan Royals,130
121,1312200,Ahmedabad,2022-05-29,2022,Final,Rajasthan Royals,Gujarat Titans,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,bat,...,0,0,0,0,NaN,NaN,NaN,Gujarat Titans,Rajasthan Royals,130
122,1312200,Ahmedabad,2022-05-29,2022,Final,Rajasthan Royals,Gujarat Titans,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,bat,...,0,1,0,0,NaN,NaN,NaN,Gujarat Titans,Rajasthan Royals,130
123,1312200,Ahmedabad,2022-05-29,2022,Final,Rajasthan Royals,Gujarat Titans,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,bat,...,0,0,0,0,NaN,NaN,NaN,Gujarat Titans,Rajasthan Royals,130
124,1312200,Ahmedabad,2022-05-29,2022,Final,Rajasthan Royals,Gujarat Titans,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,bat,...,0,0,0,0,NaN,NaN,NaN,Gujarat Titans,Rajasthan Royals,130
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
190211,335982,Bengaluru,2008-04-18,2007/08,1,Royal Challengers Bangalore,Kolkata Knight Riders,M Chinnaswamy Stadium,Royal Challengers Bangalore,field,...,1,1,0,0,NaN,NaN,NaN,Royal Challengers Bangalore,Kolkata Knight Riders,222
190212,335982,Bengaluru,2008-04-18,2007/08,1,Royal Challengers Bangalore,Kolkata Knight Riders,M Chinnaswamy Stadium,Royal Challengers Bangalore,field,...,0,1,0,0,NaN,NaN,NaN,Royal Challengers Bangalore,Kolkata Knight Riders,222
190213,335982,Bengaluru,2008-04-18,2007/08,1,Royal Challengers Bangalore,Kolkata Knight Riders,M Chinnaswamy Stadium,Royal Challengers Bangalore,field,...,0,0,0,0,NaN,NaN,NaN,Royal Challengers Bangalore,Kolkata Knight Riders,222
190214,335982,Bengaluru,2008-04-18,2007/08,1,Royal Challengers Bangalore,Kolkata Knight Riders,M Chinnaswamy Stadium,Royal Challengers Bangalore,field,...,1,1,0,0,NaN,NaN,NaN,Royal Challengers Bangalore,Kolkata Knight Riders,222
190215,335982,Bengaluru,2008-04-18,2007/08,1,Royal Challengers Bangalore,Kolkata Knight Riders,M Chinnaswamy Stadium,Royal Challengers Bangalore,field,...,0,0,0,1,SB Joshi,caught,BB McCullum,Royal Challengers Bangalore,Kolkata Knight Riders,222

### (5) Generate rest of the required columns for prediction

**'Current Score'**

In [30]:
delivery_df['current_score'] = delivery_df.groupby('ID').cumsum()['total_run']

/tmp/ipykernel_9196/1194907366.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.cumsum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  delivery_df['current_score'] = delivery_df.groupby('ID').cumsum()['total_run']

**'Runs Left'**

In [31]:
delivery_df['runs_left'] = delivery_df['target'] - delivery_df['current_score']+1

**'Balls Left'**

In [32]:
delivery_df['balls_left'] = 120 - (delivery_df['overs']*6 + delivery_df['ballnumber'])

**'Wickets Left'**

In [33]:
wickets = delivery_df.groupby('ID').cumsum()['isWicketDelivery'].values
delivery_df['wickets'] = 10 - wickets

/tmp/ipykernel_9196/1411168926.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.cumsum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  wickets = delivery_df.groupby('ID').cumsum()['isWicketDelivery'].values

**'Current Run Rate'**

In [34]:
# current_run_rate = runs/overs
delivery_df['current_run_rate'] = (delivery_df['current_score']*6)/(120 - delivery_df['balls_left'])

**'Required Run Rate'**

In [35]:
# required_run_rate = runs_left/overs_left
delivery_df['required_run_rate'] = (delivery_df['runs_left']*6)/delivery_df['balls_left']

**'Result (Winner)'**

In [36]:
def result(row):
    if row['BattingTeam'] == row['WinningTeam']:
        return 1 
    else:
        return 0

In [37]:
delivery_df['Result'] = delivery_df.apply(result,axis=1)

In [38]:
delivery_df

,ID,City,Date,Season,MatchNumber,Team1,Team2,Venue,TossWinner,TossDecision,...,BattingTeam,BowlingTeam,target,current_score,runs_left,balls_left,wickets,current_run_rate,required_run_rate,Result
120,1312200,Ahmedabad,2022-05-29,2022,Final,Rajasthan Royals,Gujarat Titans,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,bat,...,Gujarat Titans,Rajasthan Royals,130,0,131,119,10,0.000000,6.605042,1
121,1312200,Ahmedabad,2022-05-29,2022,Final,Rajasthan Royals,Gujarat Titans,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,bat,...,Gujarat Titans,Rajasthan Royals,130,0,131,118,10,0.000000,6.661017,1
122,1312200,Ahmedabad,2022-05-29,2022,Final,Rajasthan Royals,Gujarat Titans,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,bat,...,Gujarat Titans,Rajasthan Royals,130,1,130,117,10,2.000000,6.666667,1
123,1312200,Ahmedabad,2022-05-29,2022,Final,Rajasthan Royals,Gujarat Titans,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,bat,...,Gujarat Titans,Rajasthan Royals,130,1,130,116,10,1.500000,6.724138,1
124,1312200,Ahmedabad,2022-05-29,2022,Final,Rajasthan Royals,Gujarat Titans,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,bat,...,Gujarat Titans,Rajasthan Royals,130,1,130,115,10,1.200000,6.782609,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
190211,335982,Bengaluru,2008-04-18,2007/08,1,Royal Challengers Bangalore,Kolkata Knight Riders,M Chinnaswamy Stadium,Royal Challengers Bangalore,field,...,Royal Challengers Bangalore,Kolkata Knight Riders,222,80,143,31,1,5.393258,27.677419,0
190212,335982,Bengaluru,2008-04-18,2007/08,1,Royal Challengers Bangalore,Kolkata Knight Riders,M Chinnaswamy Stadium,Royal Challengers Bangalore,field,...,Royal Challengers Bangalore,Kolkata Knight Riders,222,81,142,30,1,5.400000,28.400000,0
190213,335982,Bengaluru,2008-04-18,2007/08,1,Royal Challengers Bangalore,Kolkata Knight Riders,M Chinnaswamy Stadium,Royal Challengers Bangalore,field,...,Royal Challengers Bangalore,Kolkata Knight Riders,222,81,142,29,1,5.340659,29.379310,0
190214,335982,Bengaluru,2008-04-18,2007/08,1,Royal Challengers Bangalore,Kolkata Knight Riders,M Chinnaswamy Stadium,Royal Challengers Bangalore,field,...,Royal Challengers Bangalore,Kolkata Knight Riders,222,82,141,29,1,5.406593,29.172414,0
190215,335982,Bengaluru,2008-04-18,2007/08,1,Royal Challengers Bangalore,Kolkata Knight Riders,M Chinnaswamy Stadium,Royal Challengers Bangalore,field,...,Royal Challengers Bangalore,Kolkata Knight Riders,222,82,141,28,0,5.347826,30.214286,0

### (6) Creating the required dataframe

In [39]:
ultimate_df = delivery_df[['BattingTeam','BowlingTeam','City','runs_left','balls_left','wickets','target','current_run_rate','required_run_rate','Result']]

In [40]:
ultimate_df

,BattingTeam,BowlingTeam,City,runs_left,balls_left,wickets,target,current_run_rate,required_run_rate,Result
120,Gujarat Titans,Rajasthan Royals,Ahmedabad,131,119,10,130,0.000000,6.605042,1
121,Gujarat Titans,Rajasthan Royals,Ahmedabad,131,118,10,130,0.000000,6.661017,1
122,Gujarat Titans,Rajasthan Royals,Ahmedabad,130,117,10,130,2.000000,6.666667,1
123,Gujarat Titans,Rajasthan Royals,Ahmedabad,130,116,10,130,1.500000,6.724138,1
124,Gujarat Titans,Rajasthan Royals,Ahmedabad,130,115,10,130,1.200000,6.782609,1
...,...,...,...,...,...,...,...,...,...,...
190211,Royal Challengers Bangalore,Kolkata Knight Riders,Bengaluru,143,31,1,222,5.393258,27.677419,0
190212,Royal Challengers Bangalore,Kolkata Knight Riders,Bengaluru,142,30,1,222,5.400000,28.400000,0
190213,Royal Challengers Bangalore,Kolkata Knight Riders,Bengaluru,142,29,1,222,5.340659,29.379310,0
190214,Royal Challengers Bangalore,Kolkata Knight Riders,Bengaluru,141,29,1,222,5.406593,29.172414,0
190215,Royal Challengers Bangalore,Kolkata Knight Riders,Bengaluru,141,28,0,222,5.347826,30.214286,0

**Sampling the data**

In [41]:
ultimate_df = ultimate_df.sample(ultimate_df.shape[0])

In [42]:
ultimate_df.sample()

,BattingTeam,BowlingTeam,City,runs_left,balls_left,wickets,target,current_run_rate,required_run_rate,Result
15462,Chennai Super Kings,Punjab Kings,Mumbai,83,30,3,180,6.533333,16.6,0

### (7) Checking for anomalies

In [43]:
ultimate_df.isnull().sum()

BattingTeam           0
BowlingTeam           0
City                  0
runs_left             0
balls_left            0
wickets               0
target                0
current_run_rate      0
required_run_rate    11
Result                0
dtype: int64

In [44]:
ultimate_df.describe()

,runs_left,balls_left,wickets,target,current_run_rate,required_run_rate,Result
count,91818.000000,91818.000000,91818.000000,91818.000000,91818.000000,9.180700e+04,91818.000000
mean,92.633874,62.848744,7.547921,164.994086,7.478732,NaN,0.536398
std,49.791516,33.397554,2.145349,28.823673,2.274577,NaN,0.498676
min,-15.000000,-2.000000,0.000000,67.000000,0.000000,-inf,0.000000
25%,53.000000,35.000000,6.000000,147.000000,6.300000,7.200000e+00,0.000000
50%,92.000000,64.000000,8.000000,165.000000,7.521757,8.880000e+00,1.000000
75%,130.000000,92.000000,9.000000,185.000000,8.727273,1.091528e+01,1.000000
max,249.000000,119.000000,10.000000,248.000000,36.000000,inf,1.000000

In [45]:
ultimate_df = ultimate_df[ultimate_df['balls_left'] != 0]

In [46]:
ultimate_df.describe()

,runs_left,balls_left,wickets,target,current_run_rate,required_run_rate,Result
count,91512.000000,91512.000000,91512.000000,91512.000000,91512.000000,91512.000000,91512.000000
mean,92.876464,63.058899,7.563587,164.951296,7.477205,10.411531,0.537766
std,49.686611,33.254684,2.129743,28.828092,2.277221,13.800783,0.498574
min,-15.000000,-2.000000,0.000000,67.000000,0.000000,-516.000000,0.000000
25%,54.000000,35.000000,6.000000,147.000000,6.295082,7.200000,0.000000
50%,92.000000,64.000000,8.000000,165.000000,7.518987,8.869565,1.000000
75%,130.000000,92.000000,9.000000,185.000000,8.727273,10.885935,1.000000
max,249.000000,119.000000,10.000000,248.000000,36.000000,714.000000,1.000000

In [47]:
ultimate_df.isnull().sum()

BattingTeam          0
BowlingTeam          0
City                 0
runs_left            0
balls_left           0
wickets              0
target               0
current_run_rate     0
required_run_rate    0
Result               0
dtype: int64

In [48]:
ultimate_df.shape

(91512, 10)

### (8) Split the dataset into train and test datasets

In [49]:
X = ultimate_df.iloc[:,:-1]
Y = ultimate_df.iloc[:,-1]

In [50]:
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test = train_test_split(X,Y,test_size=0.2,random_state=42)

### (9) Encoding Text Data

In [51]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder

trf = ColumnTransformer([
    ('trf',OneHotEncoder(sparse=False,drop='first'),['BattingTeam','BowlingTeam','City'])
]
,remainder='passthrough')

### (10) Building the pipeline

In [52]:
from sklearn.linear_model import LogisticRegression
from sklearn.pipeline import Pipeline

In [53]:
pipe = Pipeline(steps=[
    ('step1',trf),
    ('step2',LogisticRegression(solver='liblinear'))
])

In [54]:
pipe.fit(X_train,Y_train)

/home/codespace/.local/lib/python3.10/site-packages/sklearn/preprocessing/_encoders.py:828: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

Pipeline(steps=[('step1',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('trf',
                                                  OneHotEncoder(drop='first',
                                                                sparse=False),
                                                  ['BattingTeam', 'BowlingTeam',
                                                   'City'])])),
                ('step2', LogisticRegression(solver='liblinear'))])

In [55]:
Y_pred = pipe.predict(X_test)

### (11) Model Evaluation

In [56]:
from sklearn.metrics import accuracy_score
accuracy_score(Y_test,Y_pred)

0.8150030049718625

In [57]:
from sklearn.metrics import mean_absolute_error
print(mean_absolute_error(Y_test,Y_pred))

0.18499699502813746

In [58]:
pipe.predict_proba(X_test)[0]

array([0.95304837, 0.04695163])

### (12) Send to pickle file

In [59]:
import pickle
pickle.dump(pipe,open('iplpipe.pkl','wb'))